flows-nodered-securitycam.json
[
    {
        "id": "54c6dde2.074f94",
        "type": "mqtt out",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "topic": "home/outdoor/security/cam/entrance",
        "qos": "2",
        "retain": "true",
        "broker": "89c47141.2fd35",
        "x": 2254,
        "y": 40,
        "wires": []
    },
    {
        "id": "994f1717.47fbf8",
        "type": "jimp-image",
        "z": "a0fc037a.f3d0e",
        "name": "Convert to Buffer",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "payload",
        "parameter1Type": "msg",
        "parameter2": "100",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "parameterCount": 0,
        "jimpFunction": "",
        "x": 1994,
        "y": 40,
        "wires": [
            [
                "54c6dde2.074f94"
            ]
        ]
    },
    {
        "id": "3f306ffa.fcd81",
        "type": "image viewer",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "width": "250",
        "data": "payload",
        "dataType": "msg",
        "x": 1954,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9552456.0c6dab8",
        "type": "jimp-image",
        "z": "a0fc037a.f3d0e",
        "name": "resize image",
        "data": "attachments[0].content",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "400",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 910,
        "y": 140,
        "wires": [
            [
                "1226515c.84e45f"
            ]
        ]
    },
    {
        "id": "57a7d2a9.645abc",
        "type": "jimp-image",
        "z": "a0fc037a.f3d0e",
        "name": "resize image",
        "data": "attachments[1].content",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "400",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 910,
        "y": 180,
        "wires": [
            [
                "d71e18f.0f226e8"
            ]
        ]
    },
    {
        "id": "1dfd035c.fc830d",
        "type": "jimp-image",
        "z": "a0fc037a.f3d0e",
        "name": "resize image",
        "data": "attachments[2].content",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "400",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 910,
        "y": 220,
        "wires": [
            [
                "f8cea581.f37a18"
            ]
        ]
    },
    {
        "id": "1226515c.84e45f",
        "type": "file",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "filename": "/dat/securitycam/entrance_01.jpg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1144,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d71e18f.0f226e8",
        "type": "file",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "filename": "/dat/securitycam/entrance_02.jpg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1144,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f8cea581.f37a18",
        "type": "file",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "filename": "/dat/securitycam/entrance_03.jpg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1144,
        "y": 220,
        "wires": [
            [
                "4b56db68.1ff0a4"
            ]
        ]
    },
    {
        "id": "ddbc4f8c.600d9",
        "type": "file in",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "filename": "/dat/securitycam/entrance_01.jpg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 1504,
        "y": 140,
        "wires": [
            [
                "c6819d89.33573",
                "797535db.3fcb5c"
            ]
        ]
    },
    {
        "id": "797535db.3fcb5c",
        "type": "delay",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1774,
        "y": 140,
        "wires": [
            [
                "b6575f16.82e0b"
            ]
        ]
    },
    {
        "id": "60ba7b27.92dc24",
        "type": "delay",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1774,
        "y": 180,
        "wires": [
            [
                "4b56db68.1ff0a4"
            ]
        ]
    },
    {
        "id": "5df1a689.1fd768",
        "type": "delay",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1774,
        "y": 220,
        "wires": [
            [
                "ddbc4f8c.600d9"
            ]
        ]
    },
    {
        "id": "b6575f16.82e0b",
        "type": "file in",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "filename": "/dat/securitycam/entrance_02.jpg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 1504,
        "y": 180,
        "wires": [
            [
                "c6819d89.33573",
                "60ba7b27.92dc24"
            ]
        ]
    },
    {
        "id": "4b56db68.1ff0a4",
        "type": "file in",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "filename": "/dat/securitycam/entrance_03.jpg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 1504,
        "y": 220,
        "wires": [
            [
                "c6819d89.33573",
                "5df1a689.1fd768"
            ]
        ]
    },
    {
        "id": "c6819d89.33573",
        "type": "function",
        "z": "a0fc037a.f3d0e",
        "name": "Consolidate",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1774,
        "y": 80,
        "wires": [
            [
                "3f306ffa.fcd81",
                "994f1717.47fbf8"
            ]
        ]
    },
    {
        "id": "b37bd8d8.aeb818",
        "type": "function",
        "z": "a0fc037a.f3d0e",
        "name": "Consolidate",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "9552456.0c6dab8",
                "57a7d2a9.645abc",
                "1dfd035c.fc830d"
            ]
        ]
    },
    {
        "id": "78724387.b6fa3c",
        "type": "switch",
        "z": "a0fc037a.f3d0e",
        "name": "Switch Cam",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "A099996",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "A069997",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "A06998",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "A071999",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 620,
        "wires": [
            [
                "b37bd8d8.aeb818",
                "245cb3fe.3fb94c"
            ],
            [
                "9ecc1e9f.99255",
                "600cd0cd.d0397"
            ],
            [
                "ce686c05.3792b",
                "8ee7fd83.cefd"
            ],
            [
                "cf2f9628.e21298",
                "2ec6313b.786f9e"
            ]
        ]
    },
    {
        "id": "2d282fe.1bf66d",
        "type": "e-mail in",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.tld.de",
        "useSSL": true,
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "240",
        "fetch": "auto",
        "inputs": 0,
        "x": 300,
        "y": 620,
        "wires": [
            [
                "78724387.b6fa3c"
            ]
        ]
    },
    {
        "id": "8c7625ae.f05c18",
        "type": "inject",
        "z": "a0fc037a.f3d0e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "2d282fe.1bf66d"
            ]
        ]
    },
    {
        "id": "89c47141.2fd35",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt.tld.de",
        "broker": "mqtt.tld.de",
        "port": "8883",
        "tls": "dab1e87b.a61058",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dab1e87b.a61058",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]